.product__wrap {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;

   @media (max-width:800px) {
      grid-template-columns: 1fr;
   }
}

.products_images {

   img {
      width: 100%;
   }
}

.product__box {
   display: flex;
   flex-direction: column;
   gap: 8px;
}